USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 02/22/2016 15:46:47 ******/
CREATE DATABASE [HospitalDB] ON  PRIMARY 
( NAME = N'HospitalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HospitalDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HospitalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HospitalDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  Table [dbo].[StaffTB]    Script Date: 02/22/2016 15:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffTB](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[StaffNo]  AS ('STA'+right('000000'+CONVERT([varchar](10),[ID],(0)),(6))) PERSISTED NOT NULL,
	[Title] [varchar](5) NULL,
	[FName] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[IDNo] [varchar](13) NOT NULL,
	[Occupation] [varchar](max) NULL,
	[FacilityID] [int] NOT NULL,
	[CellNo] [varchar](10) NULL,
	[TellNo] [varchar](10) NULL,
	[Email] [varchar](max) NULL,
	[Residential_Address] [varchar](max) NULL,
	[Postal_Address] [varchar](max) NULL,
 CONSTRAINT [PK_StaffTB_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProfileTB]    Script Date: 02/22/2016 15:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProfileTB](
	[IDNo] [varchar](13) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[ProfileImage] [image] NULL,
	[contentType] [varchar](50) NULL,
	[FileName] [varchar](50) NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK_ProfileTB] PRIMARY KEY CLUSTERED 
(
	[IDNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PatientTB]    Script Date: 02/22/2016 15:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientTB](
	[IDNo] [varchar](13) NOT NULL,
	[Title] [varchar](5) NULL,
	[FName] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Email_Address] [varchar](max) NULL,
	[Cell_No] [varchar](10) NULL,
	[Tel_No] [varchar](10) NULL,
	[Gender] [char](1) NULL,
	[Race] [varchar](10) NULL,
	[Residential_Address] [varchar](max) NULL,
	[Postal_Address] [varchar](max) NULL,
 CONSTRAINT [PK_PatientTB] PRIMARY KEY CLUSTERED 
(
	[IDNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PatientTB] ([IDNo], [Title], [FName], [Surname], [Email_Address], [Cell_No], [Tel_No], [Gender], [Race], [Residential_Address], [Postal_Address]) VALUES (N'9007046376070', N'Mr', N'kopano conthwait', N'Sereetsi', N'sereetsikc@gmail.com', N'0610486563', N'0123127789', N'M', N'Black', N'2117 Block UX
Mabopane
Pretoria
0190', N'2117 Block UX
Mabopane
Pretoria
0190')
INSERT [dbo].[PatientTB] ([IDNo], [Title], [FName], [Surname], [Email_Address], [Cell_No], [Tel_No], [Gender], [Race], [Residential_Address], [Postal_Address]) VALUES (N'9007046376071', N'Mr', N'kopano conthwait', N'Sereetsi', N'sereetsikc@gmail.com', N'0610486563', N'0123127789', N'M', N'Black', N'2117 Block UX
Mabopane
Pretoria
0190', N'2117 Block UX
Mabopane
Pretoria
0190')
INSERT [dbo].[PatientTB] ([IDNo], [Title], [FName], [Surname], [Email_Address], [Cell_No], [Tel_No], [Gender], [Race], [Residential_Address], [Postal_Address]) VALUES (N'9007046376072', N'Mr', N'kopano conthwait', N'Sereetsi', N'sereetsikc@gmail.com', N'0610486563', N'0123127789', N'M', N'Black', N'2117 Block UX
Mabopane
Pretoria
0190', N'2117 Block UX
Mabopane
Pretoria
0190')
/****** Object:  Table [dbo].[FacilityTB]    Script Date: 02/22/2016 15:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FacilityTB](
	[FacilityID] [int] IDENTITY(346842,1) NOT NULL,
	[FacilityName] [varchar](50) NULL,
	[Physical_Address] [varchar](max) NULL,
	[Postal_Address] [varchar](max) NULL,
	[TelNo] [varchar](10) NULL,
 CONSTRAINT [PK_FacilityTB] PRIMARY KEY CLUSTERED 
(
	[FacilityID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FacilityTB] ON
INSERT [dbo].[FacilityTB] ([FacilityID], [FacilityName], [Physical_Address], [Postal_Address], [TelNo]) VALUES (346842, N'jslkdhsd', N'Physical_Address', N'Postal_Address', N'0123127789')
SET IDENTITY_INSERT [dbo].[FacilityTB] OFF
